.home {
  position:relative;
  display:block;
  div:nth-child(2) div .layout{
    margin-right: 3rem;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h3 {
    font-size: 25px;
    text-align: center;
    margin: 0px 0 0;
  }
  h4 {
    text-align: center;
  }
  figure .tree {
    height: 25vmin;
    margin-left: -3rem;
    margin-top: -1rem;
  }
  div .chart {
    width: 95%;
    margin: 1em auto;
    height: 30vmin;
  }
  figure {
    width: 95%;
    margin: 1em auto;
    height: 25vh;
  }
  figure .echarts, figure #weather {
    width: 100%;
    height: 25 vmin;
  }

  #weather {
    margin-left: 3rem;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
  }
  .video-container img,
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @keyframes colorful {
         0% { margin-left: 6.2rem;}
        14% { margin-left: 6.4rem; }
        28% { margin-left: 6.6rem; }
        43% { margin-left: 6.8rem; }
        57% { margin-left: 7rem; }
        82% { margin-left: 7.2rem; }
       100% { margin-left: 7.4rem; }
    }

  img#weather  {
    animation-name: colorful;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .weatherinfo {
    color: black;
    margin: 3rem 0 0 12rem;
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
  .tree ul li {
    margin-top: 4px;
  }
  /* * {margin: 0; padding: 0;} */
  .tree ul {
   padding-top: 1rem; position: relative;
   margin-left: 0.6rem; // 新增
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
  }

  /* root 的小孩 */
  .tree li {
   float: left;
   text-align: center;
   list-style-type: none;
   position: relative;
   padding: 1rem -0.2rem 0 -0.2rem;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   left: 3.5rem; //新增
   top: 1.2rem;
  }

  /* 最上面的 連結線 /*/
  .tree li::before, .tree li::after{
   content: '';
   position: absolute;
   top: -0.1rem;
   right: 50%;
   border-bottom: 1px solid #1a80c3;
   width:50%;
   height: 1.2rem;
   margin-top: 4.5rem;
   margin-left: 1rem; // 新增
  }
  .tree li::before{
   border-right: 1px solid #1a80c3;
   margin-right: 0.1rem;
  }
  .tree li::after{
   right: auto;
   left: 50%;
   border-left: 1px solid #1a80c3;
  }

  /* root 小孩下面 連結線 /*/
  .tree ul li:nth-child(3) ul li ul li {
  content: '';
  position: absolute;
  right: 50%;
  border-bottom: 1px solid #1a80c3;
  width:120%;
  height: 1rem;
  margin-top: -0.1rem;
  margin-left: 0.8rem; // 最后一个节点位置
  }
  .tree ul li:nth-child(3) ul li ul li {
  border-left: 1px solid #1a80c3;
  border-right: 1px solid #1a80c3;
  top: 0;
  }

  .tree ul li:nth-child(3) ul li ul li div {
  margin-top: 2.5rem;
  }



  /* 當只有一個節點 收邊*/
  .tree li:only-child::after, .tree li:only-child::before {
   display: none;
  }
  .tree li:only-child{ padding-top: 0;}

  /* 前後 最後一個小孩 收邊*/
  .tree li:first-child::before, .tree li:last-child::after{
   border: 0 none;
  }
  .tree li:last-child::before{
   border-right: 1px solid #1a80c3;
   border-radius: 0 5px 0 0;
   -webkit-border-radius: 0 5px 0 0;
   -moz-border-radius: 0 5px 0 0;
  }
  .tree li:first-child::after{
   border-radius: 5px 0 0 0;
   -webkit-border-radius: 5px 0 0 0;
   -moz-border-radius: 5px 0 0 0;
  }

  /* root 小孩 連結的線*/
  .tree ul ul::before{
   content: '';
   position: absolute;
   top: 1rem;
   left: 100%;
   border-left: 1px solid #1a80c3;
   width: 0;
   height: 1.9rem;
  }

  .tree li .child{
   text-decoration: none;
   color: #666;
   font-size: 1rem;
   display: inline-block;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
  }

  .tree li .child{
   min-width: 9rem;
   /*margin-left: 1.5rem; // 新增*/
   background: #1a80c3;
   color: #fff;
   border: 1px solid #1a80c3;
  }
  .tree li .child .child-data{
   height: 2.3rem;
   background: #fff;
   color: #666;
   border-radius: 0px 0px 5px 5px;
   margin-top: 0.5rem;

  }
  .tree ul li:nth-child(5) ul li div { background: #ACD8C1;color: #000;border: 1px solid; } // 坪效
  .tree ul li:nth-child(5) ul::before { left: 9rem; top: -0.1rem; height: 3rem; } // 坪效
  .tree ul li:nth-child(4) ul li div, .tree ul li:nth-child(3) ul li div, .tree ul li:nth-child(2) ul li div, .tree ul li:nth-child(1) ul li div { background: #ACD8C1;color: #000;border: 1px solid;}
  .tree ul li:nth-child(5) div{ background: #89AC92;color: #000;border: 1px solid;}
  .tree ul li:nth-child(4) div{ background: #DC9375;color: #000;border: 1px solid;}
  .tree ul li:nth-child(3) div{ background: #709EA6;color: #000;border: 1px solid;}
  .tree ul li:nth-child(2) div{ background: #72B1E1;color: #000;border: 1px solid;}
  .tree ul li:nth-child(1) div{ background: #ED695E;color: #000;border: 1px solid;}

}



  // figure .video-container {
  //   left: -0.5rem;
  //   position: relative;
  //   padding-bottom: 70%;
  //   padding-top: 30px;
  //   height: 10rem;
  //   overflow: hidden;
  // }
  // figure .video-container img,
  //   .video-container iframe {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 120%;
  // }
  @media(max-width: 767px) {
    #atdata {
      @keyframes colorful {
             0% { margin-left: 3.2rem;}
            14% { margin-left: 3.4rem; }
            28% { margin-left: 3.6rem; }
            43% { margin-left: 3.8rem; }
            57% { margin-left: 4rem; }
            82% { margin-left: 4.2rem; }
           100% { margin-left: 4.4rem; }
        }

      img#weather  {
        animation-name: colorful;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      .weatherinfo {
        color: black;
        margin-left: 5rem;
        h1 {
          font-size: 1.5rem;
        }
        h3 {
          font-size: 1rem;
        }
      }
      // figure {
      //   width: 100%;
      //   height: 45vmin;
      // }
      .tree li {
       left: 20%;
      }
      figure .echarts {
        width: 100%;
        height: 55vmin;
      }

      div:nth-child(2) div div:nth-child(1) div div figure,
      div:nth-child(1) div div:nth-child(4) div div figure {
        height: 80vmin;
      }

      div:nth-child(2) div div:nth-child(2) div div figure,
      div:nth-child(2) div div:nth-child(3) div div figure,
      div:nth-child(2) div div:nth-child(4) div div figure {
        height: 55vmin;
      }
      div:nth-child(2) div .layout{
        margin-right: 0;
      }

      // .carousel {
      //   margin-top: 0;
      //   height: 120vmin;
      // }
      .tree li::before, .tree li::after{
       margin-left: 0.1rem;
      }
      .tree li::before{
       border-right: 1px solid #1a80c3;
       margin-right: 1rem;
      }
      .tree li::after{
       right: auto;
       left: 50%;
       border-left: 1px solid #1a80c3;
      }

      figure .tree {
        margin-top: 1rem;
        margin-left: -7rem;
      }
      .tree li .child{
       min-width: 4rem;
       margin-left: 0;
      }
      .tree ul ul::before{
       left: 90%;
      }
      .tree ul li:nth-child(1) ul li ul li {
        width: 5rem;
      }

      .tree ul li:nth-child(1) ul li ul li div {
        margin-top: 2.5rem;
      }
      .tree ul li:nth-child(5) ul::before { left: 3rem; }
    }
  }
@media (max-width: 1439px) and (min-width: 767px) {
    #atdata {
      div:nth-child(2) div .layout{
        margin-right: 0;
      }
      figure {
        width: 100%;
        height: 70vmin;
      }
      figure .echarts {
        margin: 1em auto;
        width: 100%;
        height: 45vmin;
      }
      div:nth-child(2) div div:nth-child(1) div div div figure,
      div:nth-child(1) div div:nth-child(2) figure,
      div:nth-child(1) div div:nth-child(3) figure,
      div:nth-child(1) div div:nth-child(4) figure  {
        width: 100%;
        height: 45vmin;
      }
      .carousel {
        margin-top: -5rem;
        height: 65vmin;
      }
      figure .tree {
        margin-top: 0;
      }
      .tree li .child{
       min-width: 7rem;
       margin-left: 1.5rem;
      }
      .tree ul li:nth-child(5) ul::before { left: 7.5rem; height: 3rem; }
    }
  }
@media (max-width: 1439px) and (min-width: 1023px) {
  #atdata {
    figure .tree {
      margin-top: 0.5rem;
    }
    .tree li .child{
     min-width: 7rem;
     margin-left: 0.5rem;
    }
    .tree ul li:nth-child(5) ul::before { left: 6rem; height: 3rem; }
  }
}
@media (max-width: 1919px) and (min-width: 1440px) {
    #atdata {
      div:nth-child(2) div .layout{
        margin-left: 1rem;
        margin-right: 1rem;
      }
      figure {
        width: 100%;
        height: 95vmin;
      }
      figure .echarts {
        // margin: 1em auto;
        width: 100%;
        height: 36vmin;
      }
      //*[@id="atdata"]/div[1]/div/div[2]/figure
      //*[@id="atdata"]/div[1]/div/div[3]/figure
      //*[@id="atdata"]/div[1]/div/div[4]/div/div/figure
      //*[@id="atdata"]/div[2]/div/div[1]/div/div/figure
      div:nth-child(2) div div:nth-child(1) div div div figure,
      div:nth-child(1) div div:nth-child(2) figure,
      div:nth-child(1) div div:nth-child(3) figure,
      div:nth-child(1) div div:nth-child(4) figure  {
        width: 100%;
        height: 36vmin;
      }

      .tree li .child{
       min-width: 7.5rem;
       // margin-left: 1rem;
       background: #1a80c3;
       color: #fff;
       border: 1px solid #1a80c3;
      }
      figure .tree {
        margin-top: -1rem;
        // margin: -0.5rem 0.5rem 0 0;
        // margin-left: 0.5rem;
        height: 25vmin;
      }
      .tree li {
       margin-left: -1vmin;
      }
      .tree ul li:nth-child(5) ul::before { left: 7.5rem; height: 3rem; }

    }
  }
@media screen and (min-width: 2100px) {
  #atdata {
      div .btn{
        padding: 10rem 0 0 10rem;
        border-radius: 2rem;
      }
      h4 .btn__content {
        font-size: 3rem;
        margin-top: -9rem;
        margin-left: -10rem;
      }

    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
    }
    .video-container img,
    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .tree ul {
     padding-top: 1rem; position: relative;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
    }

    /* root 的小孩 */
    .tree li {
     float: left;
     text-align: center;
     list-style-type: none;
     position: relative;
     padding: 1rem -0.2rem 0 -0.2rem;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     left: 8rem;
     top: 4rem;
    }

    /* 最上面的 連結線 /*/
    .tree li::before, .tree li::after{
     content: '';
     position: absolute;
     top: 3rem;
     right: 50%;
     border-bottom: 3px solid #1a80c3;
     width: 50%;
     height: 2rem;
     margin-top: 5.2rem;
    }
    .tree li::before{
     border-right: 3px solid #1a80c3;
     margin-right: 3rem;
    }
    .tree li::after{
     right: auto;
     left: 50%;
     border-left: 3px solid #1a80c3;
    }

    /* root 小孩下面 連結線 /*/
    .tree ul li:nth-child(3) ul li ul li {
    content: '';
    position: absolute;
    right: 50%;
    border-bottom: 3px solid #1a80c3;
    width: 120%;
    height: 2rem;
    }
    .tree ul li:nth-child(3) ul li ul li {
    border-left: 3px solid #1a80c3;
    border-right: 3px solid #1a80c3;
    top: 0;
    }

    .tree ul li:nth-child(3) ul li ul li div {
    margin-top: 4rem;
    }



    /* 當只有一個節點 收邊*/
    .tree li:only-child::after, .tree li:only-child::before {
     display: none;
    }
    .tree li:only-child{ padding-top: 0;}

    /* 前後 最後一個小孩 收邊*/
    .tree li:first-child::before, .tree li:last-child::after{
     border: 0 none;
    }
    .tree li:last-child::before{
     border-right: 3px solid #1a80c3;
     border-radius: 0 5px 0 0;
     -webkit-border-radius: 0 5px 0 0;
     -moz-border-radius: 0 5px 0 0;
    }
    .tree li:first-child::after{
     border-radius: 5px 0 0 0;
     -webkit-border-radius: 5px 0 0 0;
     -moz-border-radius: 5px 0 0 0;
    }

    /* root 小孩 連結的線*/
    .tree ul ul::before{
     content: '';
     position: absolute;
     top: 2rem;
     left: 100%;
     border-left: 3px solid #1a80c3;
     width: 0;
     height: 4rem;
    }

    .tree li .child{
     text-decoration: none;
     color: #666;
     // font-family: "微软雅黑";
     font-size: 2.5rem;
     display: inline-block;
     border-radius: 15px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     margin-left: 2rem;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
    }

    .tree li .child{
     min-width: 20rem;
     background: #1a80c3;
     color: #fff;
     border: 1px solid #1a80c3;
    }

    .tree li .child .child-data{
     height: 4rem;
     background: #fff;
     color: #666;
     border-radius: 0px 0px 5px 5px;
     // margin-top: 2rem;
    }
    .tree ul li:nth-child(5) ul::before { left: 15rem; top: -0.2rem; height: 7rem; } // 坪效
      figure {
        width: 90%;
        height: 26vmin;
      }
      figure .tree {
        height: 20rem;
      }
      figure .echarts {
        width: 100%;
        height: 26vmin;
      }

      @keyframes colorful {
             0% { margin-left: 23.2rem;}
            14% { margin-left: 23.4rem; }
            28% { margin-left: 23.6rem; }
            43% { margin-left: 23.8rem; }
            57% { margin-left: 24rem; }
            82% { margin-left: 24.2rem; }
           100% { margin-left: 24.4rem; }
        }

      img#weather  {
        animation-name: colorful;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      .weatherinfo {
        h1 {
          font-size: 8rem;
          // text-align: center;
        }
        h3 {
          font-size: 6rem;
        }
        margin: 1rem 0 0 25rem;
      }
      figure #weather {
        margin-left: 23rem;
      }
    }

}
